.places h1 {
	font-size: 30px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	position: relative;
}

.price_by_night {
	font-size: 20px;
	font-weight: bold;
	color: #ff5a5f;
	border: #FF5A5F solid 4px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	margin: 4px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	position: absolute;
    top: 10px;
    right: 10px;
}

hr {
	margin-top: 30px;
}

.places div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

.information {
	gap: 40px;
	margin-bottom: 15px;
}

.information div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.information p {
	margin: 0;
}

.icon_guest, .icon_bed, .icon_bath {
	width: 50px;
	height: 50px;
	position: relative;
}

.icon_guest::before, .icon_bed::before, .icon_bath::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.icon_guest::before {
	background-image: url('../images/icon_group.png');
}

.icon_bed::before {
	background-image: url('../images/icon_bed.png');
}

.icon_bath::before {
	background-image: url('../images/icon_bath.png');
}

.user {
	position: absolute;
}

.description {
	margin-top: 25px;
}
